<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>$groupId</groupId>
  <artifactId>$container.name</artifactId>
  <version>$version</version>
  
  <name>$name</name>
  <description>$description</description>

  <properties>
    <version.wildfly.swarm>@version.wildfly.swarm@</version.wildfly.swarm>
  </properties>
  
  <dependencyManagement>
  	<dependencies>
      <dependency>
        <groupId>org.wildfly.swarm</groupId>
        <artifactId>bom</artifactId>
        <version\$\{version.wildfly.swarm\}</version>
        <type>pom</type>
        <scope>import</scope>
      </dependency>
  	</dependencies>
  </dependencyManagement>
  
  <dependencies>
#foreach ( $fraction in $fractions )
    <dependency>
      <groupId>$fraction.groupId</groupId>
      <artifactId>$fraction.artifactId</artifactId>
    </dependency>
#end
  </dependencies>

  <build>
    <plugins>
      <plugin>
        <groupId>org.wildfly.swarm</groupId>
        <artifactId>wildfly-swarm-plugin</artifactId>
        <version\$\{version.wildfly.swarm\}</version>
        <configuration>
          <jvmArguments>
            <jvmArgument>-Xmx128m</jvmArgument>
          </jvmArguments>
          <mainClass>$mainClass</mainClass>
        </configuration>
        <executions>
          <execution>
            <goals>
              <goal>package</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>

  <repositories>
    <repository>
      <id>maven-restlet</id>
      <name>Public online Restlet repository</name>
      <url>http://maven.restlet.org</url>
    </repository>
  </repositories>

</project>